header {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  padding: 15px;
  position: sticky;
  top: 0;
  z-index: 1;

  .cart {
    position: relative;

    img {
      width: 30px;
      cursor: pointer;
    }
    .count {
      position: absolute;
      top: 4px;
      right: 5px;
      color: #d30909;
      font-size: 15px;
    }
  }
}
