header {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  padding: 15px;

  .cart {
    position: relative;

    img {
      width: 50px;
    }
    .count {
      position: absolute;
      top: 9px;
      right: 15px;
      color: hsl(0, 92%, 43%);
      font-size: 1.2rem;
      &.hidden {
        display: none;
      }
    }
  }
}
