<div class="product-container">
  <div class="count">{{product?.count}}</div>
  <img src=".\assets\images\xebec.png" alt="Xebec product" />

  <div>
    <h3>{{ product?.name }}</h3>
    <p class="short-description">{{ product?.shortDesc }}</p>
  </div>

  <div class="price">{{ product!.price }} $</div>
  <!-- <div
    class="price"
    *ngIf="product!.discount > 0"
    [ngClass]="{
      red: product!.discount > 0
    }"
  >
    {{ product!.discountedPrice }} $
  </div> -->

  <button class="add-product" (click)="product?.addItem()">Add to cart</button>

  <button class="remove-product" (click)="product?.removeItem()" *ngIf="product!.count > 0">
    Remove from cart
  </button>
</div>