.product-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
  border: 3px solid rgb(24, 32, 138);
  border-radius: 25px;
  padding: 15px;
  img {
    width: 10%;
  }
  .product-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .price {
    font-weight: 700;

    &.red {
      color: red;
    }
  }
  &.discount {
    background-color: hsl(51, 92%, 43%);
  }
}

button {
  color: hsl(236, 94%, 40%);
  background-color: hsl(22, 57, 45%);
  text-shadow: 0px 0px 2px white, 0 0 1em currentColor;
  font-weight: 400;
  padding: 10px 15px;
  border: 2px solid currentColor;
  border-radius: 10px;
  text-transform: capitalize;
  box-shadow: inset 0px 0px 10px currentColor, 0px 0px 15px currentColor;
  &.discount {
    background-color: hsl(51, 92%, 43%);
  }
  &:hover {
    color: hsl(320, 94%, 40%);
    text-shadow: 0px 0px 2px white, 0 0 1em currentColor;
    box-shadow: inset 0px 0px 10px currentColor, 0px 0px 15px currentColor;
  }
}

@media (max-width: 550px) {
  .product-container {
    flex-direction: column;
    justify-content: center;
    .product-info {
      align-items: center;
    }
    img {
      width: 50%;
    }
  }
}
